Progra VI Proyectos/proyectoFinalProgra06/mvcInterfazUsuario/Connected Services/srvClientes/srvClientes.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tns="http://tempuri.org/" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" name="srvClientes" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:62379/srvClientes.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:62379/srvClientes.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:62379/srvClientes.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Entidades" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IsrvClientes_recClientes_ENT_InputMessage">
    <wsdl:part name="parameters" element="tns:recClientes_ENT" />
  </wsdl:message>
  <wsdl:message name="IsrvClientes_recClientes_ENT_OutputMessage">
    <wsdl:part name="parameters" element="tns:recClientes_ENTResponse" />
  </wsdl:message>
  <wsdl:message name="IsrvClientes_recClientesXId_ENT_InputMessage">
    <wsdl:part name="parameters" element="tns:recClientesXId_ENT" />
  </wsdl:message>
  <wsdl:message name="IsrvClientes_recClientesXId_ENT_OutputMessage">
    <wsdl:part name="parameters" element="tns:recClientesXId_ENTResponse" />
  </wsdl:message>
  <wsdl:message name="IsrvClientes_insClientes_ENT_InputMessage">
    <wsdl:part name="parameters" element="tns:insClientes_ENT" />
  </wsdl:message>
  <wsdl:message name="IsrvClientes_insClientes_ENT_OutputMessage">
    <wsdl:part name="parameters" element="tns:insClientes_ENTResponse" />
  </wsdl:message>
  <wsdl:message name="IsrvClientes_modClientes_ENT_InputMessage">
    <wsdl:part name="parameters" element="tns:modClientes_ENT" />
  </wsdl:message>
  <wsdl:message name="IsrvClientes_modClientes_ENT_OutputMessage">
    <wsdl:part name="parameters" element="tns:modClientes_ENTResponse" />
  </wsdl:message>
  <wsdl:message name="IsrvClientes_delClientes_ENT_InputMessage">
    <wsdl:part name="parameters" element="tns:delClientes_ENT" />
  </wsdl:message>
  <wsdl:message name="IsrvClientes_delClientes_ENT_OutputMessage">
    <wsdl:part name="parameters" element="tns:delClientes_ENTResponse" />
  </wsdl:message>
  <wsdl:portType name="IsrvClientes">
    <wsdl:operation name="recClientes_ENT">
      <wsdl:input wsaw:Action="http://tempuri.org/IsrvClientes/recClientes_ENT" message="tns:IsrvClientes_recClientes_ENT_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IsrvClientes/recClientes_ENTResponse" message="tns:IsrvClientes_recClientes_ENT_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="recClientesXId_ENT">
      <wsdl:input wsaw:Action="http://tempuri.org/IsrvClientes/recClientesXId_ENT" message="tns:IsrvClientes_recClientesXId_ENT_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IsrvClientes/recClientesXId_ENTResponse" message="tns:IsrvClientes_recClientesXId_ENT_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="insClientes_ENT">
      <wsdl:input wsaw:Action="http://tempuri.org/IsrvClientes/insClientes_ENT" message="tns:IsrvClientes_insClientes_ENT_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IsrvClientes/insClientes_ENTResponse" message="tns:IsrvClientes_insClientes_ENT_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="modClientes_ENT">
      <wsdl:input wsaw:Action="http://tempuri.org/IsrvClientes/modClientes_ENT" message="tns:IsrvClientes_modClientes_ENT_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IsrvClientes/modClientes_ENTResponse" message="tns:IsrvClientes_modClientes_ENT_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="delClientes_ENT">
      <wsdl:input wsaw:Action="http://tempuri.org/IsrvClientes/delClientes_ENT" message="tns:IsrvClientes_delClientes_ENT_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IsrvClientes/delClientes_ENTResponse" message="tns:IsrvClientes_delClientes_ENT_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IsrvClientes" type="tns:IsrvClientes">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="recClientes_ENT">
      <soap:operation soapAction="http://tempuri.org/IsrvClientes/recClientes_ENT" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="recClientesXId_ENT">
      <soap:operation soapAction="http://tempuri.org/IsrvClientes/recClientesXId_ENT" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="insClientes_ENT">
      <soap:operation soapAction="http://tempuri.org/IsrvClientes/insClientes_ENT" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="modClientes_ENT">
      <soap:operation soapAction="http://tempuri.org/IsrvClientes/modClientes_ENT" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="delClientes_ENT">
      <soap:operation soapAction="http://tempuri.org/IsrvClientes/delClientes_ENT" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="srvClientes">
    <wsdl:port name="BasicHttpBinding_IsrvClientes" binding="tns:BasicHttpBinding_IsrvClientes">
      <soap:address location="http://localhost:62379/srvClientes.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>