Progra VI Proyectos/proyectoFinalProgra06/mvcInterfazUsuario/Connected Services/srvServicios/srvServicios.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tns="http://tempuri.org/" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" name="srvServicios" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:62379/srvServicios.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:62379/srvServicios.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:62379/srvServicios.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Entidades" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IsrvServicios_recServicios_ENT_InputMessage">
    <wsdl:part name="parameters" element="tns:recServicios_ENT" />
  </wsdl:message>
  <wsdl:message name="IsrvServicios_recServicios_ENT_OutputMessage">
    <wsdl:part name="parameters" element="tns:recServicios_ENTResponse" />
  </wsdl:message>
  <wsdl:message name="IsrvServicios_recServiciosXId_ENT_InputMessage">
    <wsdl:part name="parameters" element="tns:recServiciosXId_ENT" />
  </wsdl:message>
  <wsdl:message name="IsrvServicios_recServiciosXId_ENT_OutputMessage">
    <wsdl:part name="parameters" element="tns:recServiciosXId_ENTResponse" />
  </wsdl:message>
  <wsdl:message name="IsrvServicios_insServicios_ENT_InputMessage">
    <wsdl:part name="parameters" element="tns:insServicios_ENT" />
  </wsdl:message>
  <wsdl:message name="IsrvServicios_insServicios_ENT_OutputMessage">
    <wsdl:part name="parameters" element="tns:insServicios_ENTResponse" />
  </wsdl:message>
  <wsdl:message name="IsrvServicios_modServicios_ENT_InputMessage">
    <wsdl:part name="parameters" element="tns:modServicios_ENT" />
  </wsdl:message>
  <wsdl:message name="IsrvServicios_modServicios_ENT_OutputMessage">
    <wsdl:part name="parameters" element="tns:modServicios_ENTResponse" />
  </wsdl:message>
  <wsdl:message name="IsrvServicios_delServicios_ENT_InputMessage">
    <wsdl:part name="parameters" element="tns:delServicios_ENT" />
  </wsdl:message>
  <wsdl:message name="IsrvServicios_delServicios_ENT_OutputMessage">
    <wsdl:part name="parameters" element="tns:delServicios_ENTResponse" />
  </wsdl:message>
  <wsdl:portType name="IsrvServicios">
    <wsdl:operation name="recServicios_ENT">
      <wsdl:input wsaw:Action="http://tempuri.org/IsrvServicios/recServicios_ENT" message="tns:IsrvServicios_recServicios_ENT_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IsrvServicios/recServicios_ENTResponse" message="tns:IsrvServicios_recServicios_ENT_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="recServiciosXId_ENT">
      <wsdl:input wsaw:Action="http://tempuri.org/IsrvServicios/recServiciosXId_ENT" message="tns:IsrvServicios_recServiciosXId_ENT_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IsrvServicios/recServiciosXId_ENTResponse" message="tns:IsrvServicios_recServiciosXId_ENT_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="insServicios_ENT">
      <wsdl:input wsaw:Action="http://tempuri.org/IsrvServicios/insServicios_ENT" message="tns:IsrvServicios_insServicios_ENT_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IsrvServicios/insServicios_ENTResponse" message="tns:IsrvServicios_insServicios_ENT_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="modServicios_ENT">
      <wsdl:input wsaw:Action="http://tempuri.org/IsrvServicios/modServicios_ENT" message="tns:IsrvServicios_modServicios_ENT_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IsrvServicios/modServicios_ENTResponse" message="tns:IsrvServicios_modServicios_ENT_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="delServicios_ENT">
      <wsdl:input wsaw:Action="http://tempuri.org/IsrvServicios/delServicios_ENT" message="tns:IsrvServicios_delServicios_ENT_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IsrvServicios/delServicios_ENTResponse" message="tns:IsrvServicios_delServicios_ENT_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IsrvServicios" type="tns:IsrvServicios">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="recServicios_ENT">
      <soap:operation soapAction="http://tempuri.org/IsrvServicios/recServicios_ENT" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="recServiciosXId_ENT">
      <soap:operation soapAction="http://tempuri.org/IsrvServicios/recServiciosXId_ENT" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="insServicios_ENT">
      <soap:operation soapAction="http://tempuri.org/IsrvServicios/insServicios_ENT" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="modServicios_ENT">
      <soap:operation soapAction="http://tempuri.org/IsrvServicios/modServicios_ENT" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="delServicios_ENT">
      <soap:operation soapAction="http://tempuri.org/IsrvServicios/delServicios_ENT" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="srvServicios">
    <wsdl:port name="BasicHttpBinding_IsrvServicios" binding="tns:BasicHttpBinding_IsrvServicios">
      <soap:address location="http://localhost:62379/srvServicios.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>