Progra VI Proyectos/Examen_1_Progra6_OscarAndreyAriasCampos/mvcInterfazUsuario/Connected Services/srvSalesReason/srvSalesReason2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:61801/srvSalesReason.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Entidades" />
  <xs:element name="recSalesReason_ENT">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="recSalesReason_ENTResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Entidades" minOccurs="0" name="recSalesReason_ENTResult" nillable="true" type="q1:ArrayOfSalesReason" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="recSalesReasonXId_ENT">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="pId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="recSalesReasonXId_ENTResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/Entidades" minOccurs="0" name="recSalesReasonXId_ENTResult" nillable="true" type="q2:SalesReason" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="insSalesReason_ENT">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/Entidades" minOccurs="0" name="pSalesReason" nillable="true" type="q3:SalesReason" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="insSalesReason_ENTResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="insSalesReason_ENTResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="modSalesReason_ENT">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/Entidades" minOccurs="0" name="pSalesReason" nillable="true" type="q4:SalesReason" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="modSalesReason_ENTResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="modSalesReason_ENTResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="delSalesReason_ENT">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/Entidades" minOccurs="0" name="pSalesReason" nillable="true" type="q5:SalesReason" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="delSalesReason_ENTResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="delSalesReason_ENTResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>