Progra VI Proyectos/proyectoFinalProgra06/mvcInterfazUsuario/Connected Services/srvDiagnostico/srvDiagnostico.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tns="http://tempuri.org/" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" name="srvDiagnostico" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:62379/srvDiagnostico.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:62379/srvDiagnostico.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:62379/srvDiagnostico.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Entidades" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IsrvDiagnostico_recDiagnósticos_ENT_InputMessage">
    <wsdl:part name="parameters" element="tns:recDiagnósticos_ENT" />
  </wsdl:message>
  <wsdl:message name="IsrvDiagnostico_recDiagnósticos_ENT_OutputMessage">
    <wsdl:part name="parameters" element="tns:recDiagnósticos_ENTResponse" />
  </wsdl:message>
  <wsdl:message name="IsrvDiagnostico_recDiagnósticosXId_ENT_InputMessage">
    <wsdl:part name="parameters" element="tns:recDiagnósticosXId_ENT" />
  </wsdl:message>
  <wsdl:message name="IsrvDiagnostico_recDiagnósticosXId_ENT_OutputMessage">
    <wsdl:part name="parameters" element="tns:recDiagnósticosXId_ENTResponse" />
  </wsdl:message>
  <wsdl:message name="IsrvDiagnostico_insDiagnósticos_ENT_InputMessage">
    <wsdl:part name="parameters" element="tns:insDiagnósticos_ENT" />
  </wsdl:message>
  <wsdl:message name="IsrvDiagnostico_insDiagnósticos_ENT_OutputMessage">
    <wsdl:part name="parameters" element="tns:insDiagnósticos_ENTResponse" />
  </wsdl:message>
  <wsdl:message name="IsrvDiagnostico_modDiagnósticos_ENT_InputMessage">
    <wsdl:part name="parameters" element="tns:modDiagnósticos_ENT" />
  </wsdl:message>
  <wsdl:message name="IsrvDiagnostico_modDiagnósticos_ENT_OutputMessage">
    <wsdl:part name="parameters" element="tns:modDiagnósticos_ENTResponse" />
  </wsdl:message>
  <wsdl:message name="IsrvDiagnostico_delDiagnósticos_ENT_InputMessage">
    <wsdl:part name="parameters" element="tns:delDiagnósticos_ENT" />
  </wsdl:message>
  <wsdl:message name="IsrvDiagnostico_delDiagnósticos_ENT_OutputMessage">
    <wsdl:part name="parameters" element="tns:delDiagnósticos_ENTResponse" />
  </wsdl:message>
  <wsdl:portType name="IsrvDiagnostico">
    <wsdl:operation name="recDiagnósticos_ENT">
      <wsdl:input wsaw:Action="http://tempuri.org/IsrvDiagnostico/recDiagnósticos_ENT" message="tns:IsrvDiagnostico_recDiagnósticos_ENT_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IsrvDiagnostico/recDiagnósticos_ENTResponse" message="tns:IsrvDiagnostico_recDiagnósticos_ENT_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="recDiagnósticosXId_ENT">
      <wsdl:input wsaw:Action="http://tempuri.org/IsrvDiagnostico/recDiagnósticosXId_ENT" message="tns:IsrvDiagnostico_recDiagnósticosXId_ENT_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IsrvDiagnostico/recDiagnósticosXId_ENTResponse" message="tns:IsrvDiagnostico_recDiagnósticosXId_ENT_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="insDiagnósticos_ENT">
      <wsdl:input wsaw:Action="http://tempuri.org/IsrvDiagnostico/insDiagnósticos_ENT" message="tns:IsrvDiagnostico_insDiagnósticos_ENT_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IsrvDiagnostico/insDiagnósticos_ENTResponse" message="tns:IsrvDiagnostico_insDiagnósticos_ENT_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="modDiagnósticos_ENT">
      <wsdl:input wsaw:Action="http://tempuri.org/IsrvDiagnostico/modDiagnósticos_ENT" message="tns:IsrvDiagnostico_modDiagnósticos_ENT_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IsrvDiagnostico/modDiagnósticos_ENTResponse" message="tns:IsrvDiagnostico_modDiagnósticos_ENT_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="delDiagnósticos_ENT">
      <wsdl:input wsaw:Action="http://tempuri.org/IsrvDiagnostico/delDiagnósticos_ENT" message="tns:IsrvDiagnostico_delDiagnósticos_ENT_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IsrvDiagnostico/delDiagnósticos_ENTResponse" message="tns:IsrvDiagnostico_delDiagnósticos_ENT_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IsrvDiagnostico" type="tns:IsrvDiagnostico">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="recDiagnósticos_ENT">
      <soap:operation soapAction="http://tempuri.org/IsrvDiagnostico/recDiagnósticos_ENT" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="recDiagnósticosXId_ENT">
      <soap:operation soapAction="http://tempuri.org/IsrvDiagnostico/recDiagnósticosXId_ENT" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="insDiagnósticos_ENT">
      <soap:operation soapAction="http://tempuri.org/IsrvDiagnostico/insDiagnósticos_ENT" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="modDiagnósticos_ENT">
      <soap:operation soapAction="http://tempuri.org/IsrvDiagnostico/modDiagnósticos_ENT" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="delDiagnósticos_ENT">
      <soap:operation soapAction="http://tempuri.org/IsrvDiagnostico/delDiagnósticos_ENT" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="srvDiagnostico">
    <wsdl:port name="BasicHttpBinding_IsrvDiagnostico" binding="tns:BasicHttpBinding_IsrvDiagnostico">
      <soap:address location="http://localhost:62379/srvDiagnostico.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>