Semana 11/Programacion06_2C2022/mvcInterfazUsuario/Connected Services/srvCountryRegion/srvCountryRegion1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:60421/srvCountryRegion.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Entidades" />
  <xs:element name="recCountryRegion_ENT">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="recCountryRegion_ENTResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Entidades" minOccurs="0" name="recCountryRegion_ENTResult" nillable="true" type="q1:ArrayOfCountryRegion" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="recCountryRegionXId_ENT">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="pId" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="recCountryRegionXId_ENTResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/Entidades" minOccurs="0" name="recCountryRegionXId_ENTResult" nillable="true" type="q2:CountryRegion" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="insCountryRegion_ENT">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/Entidades" minOccurs="0" name="pCountryRegion" nillable="true" type="q3:CountryRegion" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="insCountryRegion_ENTResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="insCountryRegion_ENTResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="modCountryRegion_ENT">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/Entidades" minOccurs="0" name="pCountryRegion" nillable="true" type="q4:CountryRegion" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="modCountryRegion_ENTResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="modCountryRegion_ENTResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="delCountryRegion_ENT">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/Entidades" minOccurs="0" name="pCountryRegion" nillable="true" type="q5:CountryRegion" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="delCountryRegion_ENTResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="delCountryRegion_ENTResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="recCountryRegion_PA">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="recCountryRegion_PAResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/Entidades" minOccurs="0" name="recCountryRegion_PAResult" nillable="true" type="q6:ArrayOfrecCountryRegions_Result" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="recCountryRegionXId_PA">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="pId" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="recCountryRegionXId_PAResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/Entidades" minOccurs="0" name="recCountryRegionXId_PAResult" nillable="true" type="q7:recCountryRegionsxId_Result" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="insCountryRegion_PA">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/Entidades" minOccurs="0" name="pCountryRegion" nillable="true" type="q8:CountryRegion" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="insCountryRegion_PAResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="insCountryRegion_PAResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="modCountryRegion_PA">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/Entidades" minOccurs="0" name="pCountryRegion" nillable="true" type="q9:CountryRegion" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="modCountryRegion_PAResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="modCountryRegion_PAResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="delCountryRegion_PA">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q10="http://schemas.datacontract.org/2004/07/Entidades" minOccurs="0" name="pCountryRegion" nillable="true" type="q10:CountryRegion" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="delCountryRegion_PAResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="delCountryRegion_PAResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>