Progra VI Proyectos/ProyectoFinalP6_Veterinaria/mvcInterfazUsuario/Connected Services/srvMascotas/srvMascotas.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tns="http://tempuri.org/" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" name="srvMascotas" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:61252/srvMascotas.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:61252/srvMascotas.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:61252/srvMascotas.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Entidades" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IsrvMascotas_recMascotas_ENT_InputMessage">
    <wsdl:part name="parameters" element="tns:recMascotas_ENT" />
  </wsdl:message>
  <wsdl:message name="IsrvMascotas_recMascotas_ENT_OutputMessage">
    <wsdl:part name="parameters" element="tns:recMascotas_ENTResponse" />
  </wsdl:message>
  <wsdl:message name="IsrvMascotas_recMascotasXId_ENT_InputMessage">
    <wsdl:part name="parameters" element="tns:recMascotasXId_ENT" />
  </wsdl:message>
  <wsdl:message name="IsrvMascotas_recMascotasXId_ENT_OutputMessage">
    <wsdl:part name="parameters" element="tns:recMascotasXId_ENTResponse" />
  </wsdl:message>
  <wsdl:message name="IsrvMascotas_insMascotas_ENT_InputMessage">
    <wsdl:part name="parameters" element="tns:insMascotas_ENT" />
  </wsdl:message>
  <wsdl:message name="IsrvMascotas_insMascotas_ENT_OutputMessage">
    <wsdl:part name="parameters" element="tns:insMascotas_ENTResponse" />
  </wsdl:message>
  <wsdl:message name="IsrvMascotas_modMascotas_ENT_InputMessage">
    <wsdl:part name="parameters" element="tns:modMascotas_ENT" />
  </wsdl:message>
  <wsdl:message name="IsrvMascotas_modMascotas_ENT_OutputMessage">
    <wsdl:part name="parameters" element="tns:modMascotas_ENTResponse" />
  </wsdl:message>
  <wsdl:message name="IsrvMascotas_delMascotas_ENT_InputMessage">
    <wsdl:part name="parameters" element="tns:delMascotas_ENT" />
  </wsdl:message>
  <wsdl:message name="IsrvMascotas_delMascotas_ENT_OutputMessage">
    <wsdl:part name="parameters" element="tns:delMascotas_ENTResponse" />
  </wsdl:message>
  <wsdl:portType name="IsrvMascotas">
    <wsdl:operation name="recMascotas_ENT">
      <wsdl:input wsaw:Action="http://tempuri.org/IsrvMascotas/recMascotas_ENT" message="tns:IsrvMascotas_recMascotas_ENT_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IsrvMascotas/recMascotas_ENTResponse" message="tns:IsrvMascotas_recMascotas_ENT_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="recMascotasXId_ENT">
      <wsdl:input wsaw:Action="http://tempuri.org/IsrvMascotas/recMascotasXId_ENT" message="tns:IsrvMascotas_recMascotasXId_ENT_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IsrvMascotas/recMascotasXId_ENTResponse" message="tns:IsrvMascotas_recMascotasXId_ENT_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="insMascotas_ENT">
      <wsdl:input wsaw:Action="http://tempuri.org/IsrvMascotas/insMascotas_ENT" message="tns:IsrvMascotas_insMascotas_ENT_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IsrvMascotas/insMascotas_ENTResponse" message="tns:IsrvMascotas_insMascotas_ENT_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="modMascotas_ENT">
      <wsdl:input wsaw:Action="http://tempuri.org/IsrvMascotas/modMascotas_ENT" message="tns:IsrvMascotas_modMascotas_ENT_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IsrvMascotas/modMascotas_ENTResponse" message="tns:IsrvMascotas_modMascotas_ENT_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="delMascotas_ENT">
      <wsdl:input wsaw:Action="http://tempuri.org/IsrvMascotas/delMascotas_ENT" message="tns:IsrvMascotas_delMascotas_ENT_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IsrvMascotas/delMascotas_ENTResponse" message="tns:IsrvMascotas_delMascotas_ENT_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IsrvMascotas" type="tns:IsrvMascotas">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="recMascotas_ENT">
      <soap:operation soapAction="http://tempuri.org/IsrvMascotas/recMascotas_ENT" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="recMascotasXId_ENT">
      <soap:operation soapAction="http://tempuri.org/IsrvMascotas/recMascotasXId_ENT" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="insMascotas_ENT">
      <soap:operation soapAction="http://tempuri.org/IsrvMascotas/insMascotas_ENT" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="modMascotas_ENT">
      <soap:operation soapAction="http://tempuri.org/IsrvMascotas/modMascotas_ENT" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="delMascotas_ENT">
      <soap:operation soapAction="http://tempuri.org/IsrvMascotas/delMascotas_ENT" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="srvMascotas">
    <wsdl:port name="BasicHttpBinding_IsrvMascotas" binding="tns:BasicHttpBinding_IsrvMascotas">
      <soap:address location="http://localhost:61252/srvMascotas.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>