Progra VI Proyectos/ProyectoFinalP6_Veterinaria/mvcInterfazUsuario/Connected Services/srvMascotas/srvMascotas1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Entidades" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Entidades" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfMascotas">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Mascotas" nillable="true" type="tns:Mascotas" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfMascotas" nillable="true" type="tns:ArrayOfMascotas" />
  <xs:complexType name="Mascotas">
    <xs:sequence>
      <xs:element minOccurs="0" name="IDMascota" type="xs:int" />
      <xs:element minOccurs="0" name="IdCliente" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="Nombre" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Mascotas" nillable="true" type="tns:Mascotas" />
</xs:schema>