Progra VI Proyectos/ProyectoFinalP6_Veterinaria/mvcInterfazUsuario/Connected Services/srvMascotas/srvMascotas.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:61252/srvMascotas.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Entidades" />
  <xs:element name="recMascotas_ENT">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="recMascotas_ENTResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Entidades" minOccurs="0" name="recMascotas_ENTResult" nillable="true" type="q1:ArrayOfMascotas" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="recMascotasXId_ENT">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="pId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="recMascotasXId_ENTResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/Entidades" minOccurs="0" name="recMascotasXId_ENTResult" nillable="true" type="q2:Mascotas" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="insMascotas_ENT">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/Entidades" minOccurs="0" name="pMascotas" nillable="true" type="q3:Mascotas" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="insMascotas_ENTResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="insMascotas_ENTResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="modMascotas_ENT">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/Entidades" minOccurs="0" name="pMascotas" nillable="true" type="q4:Mascotas" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="modMascotas_ENTResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="modMascotas_ENTResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="delMascotas_ENT">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/Entidades" minOccurs="0" name="pMascotas" nillable="true" type="q5:Mascotas" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="delMascotas_ENTResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="delMascotas_ENTResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>