Progra VI Proyectos/proyectoFinal P6 Seguridad/ProyectoFinalP6_Veterinaria/mvcInterfazUsuario/Connected Services/srvCitas/srvCitas.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Entidades" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Entidades" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfCitas">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Citas" nillable="true" type="tns:Citas" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfCitas" nillable="true" type="tns:ArrayOfCitas" />
  <xs:complexType name="Citas">
    <xs:sequence>
      <xs:element minOccurs="0" name="FechaCita" nillable="true" type="xs:dateTime" />
      <xs:element minOccurs="0" name="IDCliente" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="IDMascota" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="NumeroCita" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Citas" nillable="true" type="tns:Citas" />
</xs:schema>