Progra VI Proyectos/proyectoFinalProgra06/mvcInterfazUsuario/Connected Services/srvFacturacion/srvFacturacion.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:62379/srvFacturacion.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Entidades" />
  <xs:element name="recFacturacion_ENT">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="recFacturacion_ENTResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Entidades" minOccurs="0" name="recFacturacion_ENTResult" nillable="true" type="q1:ArrayOfFacturacion" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="recFacturacionXId_ENT">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="pId" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="recFacturacionXId_ENTResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/Entidades" minOccurs="0" name="recFacturacionXId_ENTResult" nillable="true" type="q2:Facturacion" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="insFacturacion_ENT">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/Entidades" minOccurs="0" name="pFacturacion" nillable="true" type="q3:Facturacion" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="insFacturacion_ENTResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="insFacturacion_ENTResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="modFacturacion_ENT">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/Entidades" minOccurs="0" name="pFacturacion" nillable="true" type="q4:Facturacion" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="modFacturacion_ENTResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="modFacturacion_ENTResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="delFacturacion_ENT">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/Entidades" minOccurs="0" name="pFacturacion" nillable="true" type="q5:Facturacion" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="delFacturacion_ENTResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="delFacturacion_ENTResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>