Progra VI Proyectos/proyectoFinalProgra06/mvcInterfazUsuario/Connected Services/srvFacturacion/srvFacturacion.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tns="http://tempuri.org/" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" name="srvFacturacion" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:62379/srvFacturacion.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:62379/srvFacturacion.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:62379/srvFacturacion.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Entidades" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IsrvFacturacion_recFacturacion_ENT_InputMessage">
    <wsdl:part name="parameters" element="tns:recFacturacion_ENT" />
  </wsdl:message>
  <wsdl:message name="IsrvFacturacion_recFacturacion_ENT_OutputMessage">
    <wsdl:part name="parameters" element="tns:recFacturacion_ENTResponse" />
  </wsdl:message>
  <wsdl:message name="IsrvFacturacion_recFacturacionXId_ENT_InputMessage">
    <wsdl:part name="parameters" element="tns:recFacturacionXId_ENT" />
  </wsdl:message>
  <wsdl:message name="IsrvFacturacion_recFacturacionXId_ENT_OutputMessage">
    <wsdl:part name="parameters" element="tns:recFacturacionXId_ENTResponse" />
  </wsdl:message>
  <wsdl:message name="IsrvFacturacion_insFacturacion_ENT_InputMessage">
    <wsdl:part name="parameters" element="tns:insFacturacion_ENT" />
  </wsdl:message>
  <wsdl:message name="IsrvFacturacion_insFacturacion_ENT_OutputMessage">
    <wsdl:part name="parameters" element="tns:insFacturacion_ENTResponse" />
  </wsdl:message>
  <wsdl:message name="IsrvFacturacion_modFacturacion_ENT_InputMessage">
    <wsdl:part name="parameters" element="tns:modFacturacion_ENT" />
  </wsdl:message>
  <wsdl:message name="IsrvFacturacion_modFacturacion_ENT_OutputMessage">
    <wsdl:part name="parameters" element="tns:modFacturacion_ENTResponse" />
  </wsdl:message>
  <wsdl:message name="IsrvFacturacion_delFacturacion_ENT_InputMessage">
    <wsdl:part name="parameters" element="tns:delFacturacion_ENT" />
  </wsdl:message>
  <wsdl:message name="IsrvFacturacion_delFacturacion_ENT_OutputMessage">
    <wsdl:part name="parameters" element="tns:delFacturacion_ENTResponse" />
  </wsdl:message>
  <wsdl:portType name="IsrvFacturacion">
    <wsdl:operation name="recFacturacion_ENT">
      <wsdl:input wsaw:Action="http://tempuri.org/IsrvFacturacion/recFacturacion_ENT" message="tns:IsrvFacturacion_recFacturacion_ENT_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IsrvFacturacion/recFacturacion_ENTResponse" message="tns:IsrvFacturacion_recFacturacion_ENT_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="recFacturacionXId_ENT">
      <wsdl:input wsaw:Action="http://tempuri.org/IsrvFacturacion/recFacturacionXId_ENT" message="tns:IsrvFacturacion_recFacturacionXId_ENT_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IsrvFacturacion/recFacturacionXId_ENTResponse" message="tns:IsrvFacturacion_recFacturacionXId_ENT_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="insFacturacion_ENT">
      <wsdl:input wsaw:Action="http://tempuri.org/IsrvFacturacion/insFacturacion_ENT" message="tns:IsrvFacturacion_insFacturacion_ENT_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IsrvFacturacion/insFacturacion_ENTResponse" message="tns:IsrvFacturacion_insFacturacion_ENT_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="modFacturacion_ENT">
      <wsdl:input wsaw:Action="http://tempuri.org/IsrvFacturacion/modFacturacion_ENT" message="tns:IsrvFacturacion_modFacturacion_ENT_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IsrvFacturacion/modFacturacion_ENTResponse" message="tns:IsrvFacturacion_modFacturacion_ENT_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="delFacturacion_ENT">
      <wsdl:input wsaw:Action="http://tempuri.org/IsrvFacturacion/delFacturacion_ENT" message="tns:IsrvFacturacion_delFacturacion_ENT_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IsrvFacturacion/delFacturacion_ENTResponse" message="tns:IsrvFacturacion_delFacturacion_ENT_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IsrvFacturacion" type="tns:IsrvFacturacion">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="recFacturacion_ENT">
      <soap:operation soapAction="http://tempuri.org/IsrvFacturacion/recFacturacion_ENT" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="recFacturacionXId_ENT">
      <soap:operation soapAction="http://tempuri.org/IsrvFacturacion/recFacturacionXId_ENT" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="insFacturacion_ENT">
      <soap:operation soapAction="http://tempuri.org/IsrvFacturacion/insFacturacion_ENT" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="modFacturacion_ENT">
      <soap:operation soapAction="http://tempuri.org/IsrvFacturacion/modFacturacion_ENT" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="delFacturacion_ENT">
      <soap:operation soapAction="http://tempuri.org/IsrvFacturacion/delFacturacion_ENT" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="srvFacturacion">
    <wsdl:port name="BasicHttpBinding_IsrvFacturacion" binding="tns:BasicHttpBinding_IsrvFacturacion">
      <soap:address location="http://localhost:62379/srvFacturacion.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>