Progra VI Proyectos/SegundoExamenProgra6/mvcInterfazUsuario/Connected Services/srvDepartment/srvDeparment.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tns="http://tempuri.org/" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" name="srvDeparment" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:59162/srvDeparment.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:59162/srvDeparment.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:59162/srvDeparment.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Entidades" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IsrvDeparment_recDeparment_ENT_InputMessage">
    <wsdl:part name="parameters" element="tns:recDeparment_ENT" />
  </wsdl:message>
  <wsdl:message name="IsrvDeparment_recDeparment_ENT_OutputMessage">
    <wsdl:part name="parameters" element="tns:recDeparment_ENTResponse" />
  </wsdl:message>
  <wsdl:message name="IsrvDeparment_recDepartmentXId_ENT_InputMessage">
    <wsdl:part name="parameters" element="tns:recDepartmentXId_ENT" />
  </wsdl:message>
  <wsdl:message name="IsrvDeparment_recDepartmentXId_ENT_OutputMessage">
    <wsdl:part name="parameters" element="tns:recDepartmentXId_ENTResponse" />
  </wsdl:message>
  <wsdl:message name="IsrvDeparment_insDepartment_ENT_InputMessage">
    <wsdl:part name="parameters" element="tns:insDepartment_ENT" />
  </wsdl:message>
  <wsdl:message name="IsrvDeparment_insDepartment_ENT_OutputMessage">
    <wsdl:part name="parameters" element="tns:insDepartment_ENTResponse" />
  </wsdl:message>
  <wsdl:message name="IsrvDeparment_modDepartment_ENT_InputMessage">
    <wsdl:part name="parameters" element="tns:modDepartment_ENT" />
  </wsdl:message>
  <wsdl:message name="IsrvDeparment_modDepartment_ENT_OutputMessage">
    <wsdl:part name="parameters" element="tns:modDepartment_ENTResponse" />
  </wsdl:message>
  <wsdl:message name="IsrvDeparment_delDepartment_ENT_InputMessage">
    <wsdl:part name="parameters" element="tns:delDepartment_ENT" />
  </wsdl:message>
  <wsdl:message name="IsrvDeparment_delDepartment_ENT_OutputMessage">
    <wsdl:part name="parameters" element="tns:delDepartment_ENTResponse" />
  </wsdl:message>
  <wsdl:portType name="IsrvDeparment">
    <wsdl:operation name="recDeparment_ENT">
      <wsdl:input wsaw:Action="http://tempuri.org/IsrvDeparment/recDeparment_ENT" message="tns:IsrvDeparment_recDeparment_ENT_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IsrvDeparment/recDeparment_ENTResponse" message="tns:IsrvDeparment_recDeparment_ENT_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="recDepartmentXId_ENT">
      <wsdl:input wsaw:Action="http://tempuri.org/IsrvDeparment/recDepartmentXId_ENT" message="tns:IsrvDeparment_recDepartmentXId_ENT_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IsrvDeparment/recDepartmentXId_ENTResponse" message="tns:IsrvDeparment_recDepartmentXId_ENT_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="insDepartment_ENT">
      <wsdl:input wsaw:Action="http://tempuri.org/IsrvDeparment/insDepartment_ENT" message="tns:IsrvDeparment_insDepartment_ENT_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IsrvDeparment/insDepartment_ENTResponse" message="tns:IsrvDeparment_insDepartment_ENT_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="modDepartment_ENT">
      <wsdl:input wsaw:Action="http://tempuri.org/IsrvDeparment/modDepartment_ENT" message="tns:IsrvDeparment_modDepartment_ENT_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IsrvDeparment/modDepartment_ENTResponse" message="tns:IsrvDeparment_modDepartment_ENT_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="delDepartment_ENT">
      <wsdl:input wsaw:Action="http://tempuri.org/IsrvDeparment/delDepartment_ENT" message="tns:IsrvDeparment_delDepartment_ENT_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IsrvDeparment/delDepartment_ENTResponse" message="tns:IsrvDeparment_delDepartment_ENT_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IsrvDeparment" type="tns:IsrvDeparment">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="recDeparment_ENT">
      <soap:operation soapAction="http://tempuri.org/IsrvDeparment/recDeparment_ENT" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="recDepartmentXId_ENT">
      <soap:operation soapAction="http://tempuri.org/IsrvDeparment/recDepartmentXId_ENT" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="insDepartment_ENT">
      <soap:operation soapAction="http://tempuri.org/IsrvDeparment/insDepartment_ENT" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="modDepartment_ENT">
      <soap:operation soapAction="http://tempuri.org/IsrvDeparment/modDepartment_ENT" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="delDepartment_ENT">
      <soap:operation soapAction="http://tempuri.org/IsrvDeparment/delDepartment_ENT" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="srvDeparment">
    <wsdl:port name="BasicHttpBinding_IsrvDeparment" binding="tns:BasicHttpBinding_IsrvDeparment">
      <soap:address location="http://localhost:59162/srvDeparment.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>