Progra VI Proyectos/ProyectoFinalP6_Veterinaria/mvcInterfazUsuario/Connected Services/srvDiagnosticos/srvDiagnosticos.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Entidades" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Entidades" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfDiagnósticos">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Diagnósticos" nillable="true" type="tns:Diagnósticos" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfDiagnósticos" nillable="true" type="tns:ArrayOfDiagnósticos" />
  <xs:complexType name="Diagnósticos">
    <xs:sequence>
      <xs:element minOccurs="0" name="DescripcionDiagnostico" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="IDDiagnostico" type="xs:int" />
      <xs:element minOccurs="0" name="NumeroCita" nillable="true" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Diagnósticos" nillable="true" type="tns:Diagnósticos" />
</xs:schema>